body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ccbacc ;
}

input {

}

.logo-nav {

}

.logo.side {

}

.logo-foot {
    
}

aside {
    background-color: #645e64;
}
